.content-section {
    margin: 30px 20px;
    height: 40vh;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(101, 146, 127);
    
}
.content-section--input {
    display: block;
    height: 30vh;
}
.section__caption {
    padding: 20px;
    border-bottom: solid 2px #ccc;
}
.content-section--result {
   min-height: 40vh;
   height: auto;
   padding-bottom: 10px;
}
.section__list {
    padding-right: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: auto 4fr auto;
    grid-gap: 10px;

}
.section__listObject {
    text-align: left;

}

.list__button--done {
    border:none;
    background-color: green;
    padding: 5px;
}
.list__button--done:hover {
    background-color: rgb(5, 97, 5);
}
.list__button--remove {
    border:none;
    background-color: rgba(238, 49, 49, 0.849);
    padding: 5px 10px;
}
.list__button--remove:hover {
    background-color: rgba(190, 22, 22, 0.849);
}