.content-section {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20px;
    text-align: justify;
}

.section__fieldset {
    height: 40vh;
}

.section__list {

}
.section__listObject {

}